.header-container {   
    background: $yellow;
    flex: 0 0 100%;          
}

.header-title {
    padding: 0;
    margin: 0;
    font-size: $xl-size;
    font-weight: 800;
    color: $black;
    text-align: center;
}

.header-subtitle{
    color: $black;
    font-size: $xl-size;
    text-align: center;
}

.subtitle:hover {
    color: blue;
    cursor: pointer;
}



