.skills-subtitle {
    color: white;
    cursor: pointer;
}

.skills-container {
    background: $blue;
    margin: 0;
    padding: 0;
}

.skills-list {
    
    background: $black;
}

.skills-list > ul {
    margin: 0;
}
