.skills-subtitle {
    color: blue;
    cursor: pointer;
}

.skills-container {
    background: salmon;
    margin: 0;
    padding: 0;
}

.skills-list {
    margin: 0;
    padding: 0;
    background: salmon;
}