.skill-name {
    font-size: $xl-size;
    color: $light-violet;
    font-weight: 500;
}

.skill-description {
    color: $yellow;
}

.skill > p {
    margin: 0;
    text-align: center;
}

progress[value] {
   appearance: none;
   -webkit-appearance: none;
    width: 200px;
    height: 20px;
  }
  progress[value]::-webkit-progress-bar {
    background-color: #eee;    
  }
  progress[value]::-webkit-progress-value {
    background: $yellow;    
  }
  span {
      color: $yellow;
      margin-left: 7px;
      
  }

