// Colors
$blue: rgba(17, 157, 164, 1);
$black: rgba(1, 22, 39, 1);
$dark-violet: rgba(50, 14, 59, 1);
$yellow: rgba(254, 215, 102, 1);
$light-violet: rgba(76, 42, 133, 1);

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
